div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 100px;
}

img {
  width: 60%;
  align-self: center;
}
mat-card {
  width: 310px;
  height: 450px;
  margin: 10px;
}
mat-card-title {
  margin: 15px 0px 0px 15px;
  width: 283px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #3f51b5;
  flex-grow: 0;
}
mat-card-subtitle {
  width: 283px;
  height: 20px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1d1d1d;
}
mat-card-content {
  width: 278px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
}
mat-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}
.details,
.menu,
.add-to-card {
  padding: 8px;
  font-weight: 500;
  font-size: 11.1669px;
  line-height: 13px;
  letter-spacing: 0.997042px;
  text-transform: uppercase;
}
.details,
.menu {
  color: #3f51b5;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.add-to-card {
  background: #3f51b5;
  box-shadow: 0px 2.11674px 2.11674px rgba(0, 0, 0, 0.25);
  border-radius: 3.1163px;
  color: #ffffff;
}
