.spacer {
  flex: 1 1 auto;
}
.computer-icon {
  top: 12.5%;
}
a.button {
  font-weight: 600;
  font-size: 24px;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 620px) {
h1 {
  width: 100%;
  display: table-column;
}
  a.button {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
