mat-card {
  width: 30%;
  background-color: #f5e48b;
  margin: 40px;
  padding: 10px;
}
.feature-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 100px 0px 100px;
}
h1 {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}
mat-icon {
  height: 100%;
  width: auto;
  align-self: center;
  margin: 30px;
  text-align: center;
}
mat-card-title {
  align-self: center;
  left: 22.51%;
  right: 22.83%;
  top: 42.02%;
  bottom: 49.39%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 20px;
}
p {
  left: 13.5%;
  right: 13.83%;
  top: 60.74%;
  bottom: 11.04%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 20px;
}
