<h1>{{title | titlecase}}</h1>
<div class="feature-content">
<mat-card class="wifi">
  <mat-icon>wifi</mat-icon>
<mat-card-title>Wireless Freedom</mat-card-title>
<mat-card-content>
  <p>
    wireless gadget that provide freedom of movement while using them
  </p>
</mat-card-content>
</mat-card>
<mat-card class="stay-connect">
  <mat-icon>wifi</mat-icon>
<mat-card-title>Stay Connect</mat-card-title>
<mat-card-content>
  <p>
    gadget that help people stay connected with their loved ones and colleagues
  </p>
</mat-card-content>
</mat-card>
<mat-card class="smart-home">
  <mat-icon>wifi</mat-icon>
<mat-card-title>Smart Home</mat-card-title>
<mat-card-content>
  <p>
gadget that make your home smarter and more efficient at the space of your own home
  </p>
</mat-card-content>
</mat-card>
</div>
