mat-card {
  width: 30%;
  background-color: #f5e48b;
  margin: 40px;
  padding: 10px;
}
.feature-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 100px 0px 100px;
}
h1 {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  font-size: 36px;
}
mat-icon {
  height: 100%;
  width: auto;
  margin: 30px;
  text-align: center;
}
mat-card-title {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
  margin: 20px;
}
p {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
