<div class="page-title">
  <h1 class="page-name">{{ title | titlecase }}</h1>

  <h1 class="total">Total:</h1>
</div>
<div class="product-card">
  <mat-card *ngFor="let item of items">
    <mat-grid-list cols="4">
      <mat-grid-tile>
        <div class="img"><img mat-card-image [src]="item.imgUrl" /></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card-content">
          <mat-card-title>{{ item.title }}</mat-card-title>
          <ul class="technical-list">
            <li>Year:{{ item.year }}</li>
            <li>RAM Memory:{{ item.RAM }}</li>
            <li>Warranty:{{ item.warranty_period }}</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button class="remove"><mat-icon>remove</mat-icon></button>1
        <button class="plus" mat-button><mat-icon>add</mat-icon></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <span
          >Total:
          {{
            item.price | currency : "EUR" : "symbol" : "2.2-2" : "fr"
          }}</span
        >
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
