<div class="page-title">
  <h1 class="page-name">{{ title | titlecase }}</h1>

  <h1 class="total">
    Total: {{ totalPrice | currency : "EUR" : "symbol" : "2.2-2" : "fr" }}
  </h1>
</div>
<div class="product-card">
  <mat-card *ngFor="let item of cartItems">
    <mat-grid-list cols="4">
      <mat-grid-tile>
        <div class="img"><img mat-card-image [src]="item.imgUrl" /></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card-content">
          <mat-card-title>{{ item.title }}</mat-card-title>
          <ul class="technical-list">
            <li>Year:{{ item.year }}</li>
            <li>RAM Memory:{{ item.RAM }}</li>
            <li>Warranty:{{ item.warranty_period }}</li>
          </ul>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-button class="remove" (click)="decreaseQuantity(item.id)">
          <mat-icon>remove</mat-icon></button
        >{{ item.quantity }}
        <button class="plus" mat-button (click)="increaseQuantity(item.id)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <span
          >Total:
          {{
            productPrice(item) | currency : "EUR" : "symbol" : "2.2-2" : "fr"
          }}
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
