<form class="new-product-field" required #productForm="ngForm" novalidate *ngIf="!submitted">
    <mat-form-field  appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Title</mat-label>
      <input matInput required name="title"  [(ngModel)]="product.title">
    </mat-form-field>
    <mat-form-field appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Short description</mat-label>
      <input matInput name="short-description" [(ngModel)]="product.short_description"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Long description</mat-label>
      <input matInput required [(ngModel)]="product.long_description" name="long-description"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Price</mat-label>
      <input matInput required [(ngModel)]="product.price" name="price"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Year</mat-label>
      <input matInput [(ngModel)]="product.year" name="year"/>
    </mat-form-field>
    <mat-form-field class="alternative" appearance="fill">
      <mat-label class="mat-form-field-label">RAM memory</mat-label>
      <input matInput [(ngModel)]="product.RAM" name="memory"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="alternative">
      <mat-label class="mat-form-field-label">Warranty period</mat-label>
      <input matInput [(ngModel)]="product.warranty_period" name="warranty"/>
    </mat-form-field>

  <mat-card-actions>
    <button mat-button [mat-dialog-close]="product" class="cancel" >cancel</button>
    <button mat-button [disabled]="productForm.invalid" class="edit-product" (click)="onUpdate()" >update</button>
  </mat-card-actions>

</form>

