<!-- <app-product-card></app-product-card> -->

<button mat-button class="add-new-product" (click)="openDialog()">+ add new product</button>
<div>
  <mat-card *ngFor="let product of products">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle
      >PRICE:
      {{
        product.price | currency : "EUR" : "symbol" : "2.2-2" : "fr"
      }}</mat-card-subtitle
    >
    <img mat-card-image [src]="product.imgUrl" alt="{{ product.title }}" />
    <mat-card-content>
      <p>{{ product.short_description }}</p></mat-card-content
    >
    <mat-card-actions>
      <button class="details" mat-button (click)="goToDetails()">
        details
      </button>
      <button class="menu" mat-button (click)="goToMenu()">menu</button>
      <button class="add-to-card" mat-button (click)="addToCard()">
        add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>


