<button mat-button class="add-new-product" (click)="openDialog()">
  + add new product
</button>
<div>
  <mat-card *ngFor="let product of products">
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle
      >PRICE:
      {{
        product.price | currency : "EUR" : "symbol" : "2.2-2" : "fr"
      }}</mat-card-subtitle
    >
    <img mat-card-image [src]="product.imgUrl" alt="{{ product.title }}" />
    <mat-card-content>
      <p>{{ product.short_description }}</p></mat-card-content
    >
    <mat-card-actions>
      <button
        class="details"
        mat-button
        [routerLink]="['/products/', product.id]"
        (onclick)="goToDetails()"
      >
        details
      </button>
      <button class="menu" mat-button [matMenuTriggerFor]="menu">menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit(product)">Edit</button>
        <button mat-menu-item (click)="OnDeleteProduct(product.id)">
          Delete
        </button>
      </mat-menu>
      <button class="add-to-card" mat-button (click)="addToCard(product)">
        add to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
